<p class="site-info">
  Made by <a href="http://danielsauter.com" target="_blank">Daniel Sauter</a> and
   <a href="http://jaskirat.me" target="_blank">Jaskirat R.</a>
  </br>
  with support of Joel Stoehr</br>
  Source on <a href="https://github.com/danielsauter/quartz" target="_blank">Github </a>
  <!-- <% if (config.author){ %>
  &copy; <%= new Date().getFullYear() %> <%= config.author %>
  <% } else { %>
  &copy; <%= new Date().getFullYear() %> <%= config.title %>
  <% } %> -->
</p>

<div class="playButton" style="display:none"> <i class="fa fa-play" aria-hidden="true"></i>
</div>

<script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
<script src="https://f.vimeocdn.com/js/froogaloop2.min.js"></script>
<script   src="/js/transitions.js" ></script>